{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="color: #d61a46; text-align: center;">Panel de Control - Todas las Calles</h2>
    
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del Tablero</th>
                        <th scope="col">Sección</th>
                        <th scope="col">Número de Calle</th>
                        <th scope="col">Nombre de Calle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for street in streets %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ street[1] }}</td>
                            <td>{{ street[2] }}</td>
                            <td>{{ street[3] }}</td>
                            <td>{{ street[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
